div.codeContainer pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;

}
